* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}


a:hover {
  opacity: 0.6;
}

header {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;

@media (min-width: 768px) {
    justify-content: center;
    align-items: center;
    }
}

header nav {
  display: none;

  &.active {
    display: block;
  }

  @media (min-width: 768px) {
    display: block;
    }
}

header .hamburger-icon {
  display: block;
  @media (min-width: 768px) {
    display: none;
    }
}

.menu-area {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

nav ul.topnav {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 30px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  align-items: flex-end;
  text-transform: uppercase;
    @media (min-width: 768px) {
    flex-direction: row;
    }
}

section.hero {
  background-color: #495E57;
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}

div.welcomeinfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;

}

section.hero img {
  width: 16vw;
  height: 17vw;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: -120px;
  min-width: 350px;
}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 400;
  color: #000000;
}

h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 30px;
}


.welcomeinfo h1 {
  color: #F4CE14;
}

.welcomeinfo h3 {
  font-family: "Markazi Text", serif;
  font-size: 32px;
  font-weight: 400;
  color: #EDEFEE;
}

.welcomeinfo p {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #EDEFEE;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  background-color: #F4CE14;
  border: none;
  border-radius: 16px;
  color: #333333;
  font-family: "Karla", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 25px 10px 25px;
  width:fit-content;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-hero {
  background-color: #FBDABB;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 20px 10px;
    @media (min-width: 768px) {
    padding: 70px 10px;
    }
}

.bottom-about {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    }
}

.about-text {
  flex: 1;
}


.offset-image-container {
  position: relative;

  height: 300px;
  width: 85%;
    @media (min-width: 768px) {
    height: 500px;
    width: auto;
    flex: 1;
    }
}

.offset-image-container > img {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 60%;
  height: 180px;
  object-fit: cover;
  object-position: 50% 20%;
  @media (min-width: 768px) {
    height: 380px;
    }
}

.offset-image-container .tinted-image-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 180px;
  object-fit: cover;
  object-position: 50% 20%;
  @media (min-width: 768px) {
    height: 380px;
    }
}

.tinted-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  display: block;
}

p {

font-family: Karla;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.tinted-image-wrapper {
  position: relative;
  display: flex;
}

.tinted-image-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EE9972;
  mix-blend-mode:screen;
  pointer-events: none;
  opacity: 0.7;
}

.testimonials {
  background-color: #EDEFEE;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-items: center;
  justify-content: center;
  align-content: flex-start;
  width: 80vw;
}

.testimonial-card {
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  gap: 10px;
  align-items: flex-start;
  width: min-content;
}

.testimonial-card > :first-child {
  white-space: nowrap;
}

.testimonial-card > :not(:first-child) {
  width: 0;
  min-width: 100%;
}

.rating {
color: #333;
font-family: Karla;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 10px;
}

.star {
  color:#F4CE14;
}

.rating-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
}

.testimonial-name {
color: #495E57;
font-family: Karla;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

img.testimonial-photo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.specials {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 60px;
}

.specials-top {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 40px 10px;
  width: 100%;
  justify-items: center;
  justify-content: center;
}

.special-card {
  display: flex;
  flex-direction: column;
  width: 290px;
  background-color: #EDEFEE;
  border-radius: 16px 16px 0px 0px;
  overflow: hidden;
}

.special-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.special-card > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #495E57;
font-family: Karla;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 100%;
}

.special-card p {
  flex-grow: 1;
}

.special-header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-family: "Markazi Text";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
}

.special-header span {
  color: #EE9972;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.special-delivery {
  display:flex;
  align-items: center;
  gap: 5px;
  color: #333;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer {
  background-color: #495E57;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 65px;
    }
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
    @media (min-width: 768px) {
    flex-direction: row;
    gap: 80px;
    }
}

.doormat-nav ul {
  list-style: none;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #FBDABB;
}

.doormat-nav h3 {
  color: #EDEFEE;
  font-family: Karla;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

